#copyRight {
    color: white;
    font-family: "Chakra Petch";

}

@media screen and(max-width: 600px) {

        
        #copyRight {
            color: white;
            font-family: "Chakra Petch";
            font-size: 0.75rem;
            margin-left: 2.5em;
        }
    
    
    
    
    #mainFooter #footerNav ul li {
        display: inline;
        margin-left: 2rem;
        
    
    }
    
    #mainFooter #footerNav ul li a {
    
        color: white;
    
    }
}

#mainFooter {

    background-color: #212d39;
    padding-top: 1rem;
    
}

#mainFooter #footerNav ul li {
    display: inline;
    margin-left: 2rem;
    

}

#mainFooter #footerNav ul li a {

    color: white;

}


@media screen and (min-width: 1200px) {

#mainFooter #footerNav ul li {
    display: inline;
    margin-left: 6.25rem;

}

#mainFooter #footerNav ul li a {
   color: white;

}

#copyRight {
    color: white;
    font-size: 1.75rem;
    margin-left: 3.75rem;
}

#mainFooter {
    background-color: #212d39;
    padding-top: 1.5rem;
}


}

#footerNav ul {
    list-style-type: none;
    text-align: center;
  }
 
  #footerNav ul li a {
    color: $brown;
    position: relative;
    right: 8%;
    text-decoration: none;
    padding-bottom: 8px;
  
     &:before,
      &:after {
          content: '';
          position: absolute;
          bottom: 2px;
          left: 0; right: 0;
          height: 2px;
          background-color: $red;
      }
      &:before {
          opacity: 0;
          transform: translateY(- $distance);
          transition: transform 0s $easeOutBack, opacity 0s;
      }
      &:after {
          opacity: 0;
          transform: translateY($distance/2);
          transition: transform $duration $easeOutBack, opacity $duration;
      }
      &:hover,
      &:focus {
          &:before,
          &:after {
              opacity: 1;
              transform: translateY(0);
          }
          &:before {
              transition: transform $duration $easeOutBack, opacity $duration;
          }
          &:after {
              transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
          }
      }
  }